<div class="container">
    <h1 class="index-title">Bienvenido a <%= title %></h1>
    <div>
 <a href="/tales/cuento/"><img src="/images/fairytale.jpg" class="img-responsive center-block img-circle"/></a>
    </div>
    <div>
    <h3 class="index-subtitle">Una vez el nuevo portal de cuentos</h3>
    <p class="index-explain">Lee un cuento y responde a las preguntas</p>
    </div>
</div>