<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="question[pregunta]" value="<%= question.pregunta %>">
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="question[respuesta]" value="<%= question.respuesta %>">
<a href="/tales"><button type="button" class="btn btn-primary">Cancelar</button></a>
<input type="submit" value="Guardar" class="btn btn-info">