<p><label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="question[pregunta]" placeholder="<%= question.pregunta %>" value=""></p>
<p><label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="question[respuesta]" placeholder="<%= question.respuesta %>" value=""></p>
<p><a href="/tales"><button type="button" class="btn btn-primary">Cancelar</button></a>
<input type="submit" value="Guardar" class="btn btn-info"></p>
<p>Tiempo máximo para responder a la pregunta</p>

<p>
<i class="fa fa-male fa-fw"></i>&nbsp;
<i class="fa fa-bicycle fa-fw"></i>&nbsp;
<i class="fa fa-bus fa-fw"></i>&nbsp;
<i class="fa fa-truck fa-fw"></i>&nbsp;
<i class="fa fa-car fa-fw"></i>&nbsp;
<i class="fa fa-motorcycle fa-fw"></i>&nbsp;
<i class="fa fa-train fa-fw"></i>&nbsp;
<i class="fa fa-plane fa-fw"></i>&nbsp;
<i class="fa fa-fighter-jet fa-fw"></i>&nbsp;
<i class="fa fa-rocket fa-fw"></i>&nbsp;
</p>
<select name="question[tiempo]">
 <option value=50 <% if(question.tiempo && question.tiempo===50){%> selected <%} %>>50 segundos</option>
 <option value=45 <% if(question.tiempo && question.tiempo===45){%> selected <%} %>>45 segundos</option>
 <option value=40 <% if(question.tiempo && question.tiempo===40){%> selected <%} %>>40 segundos</option>
 <option value=35 <% if(question.tiempo && question.tiempo===35){%> selected <%} %>>35 segundos</option>
 <option value=30 <% if(question.tiempo && question.tiempo===30){%> selected <%} %>>30 segundos</option>
 <option value=25 <% if(question.tiempo && question.tiempo===25){%> selected <%} %>>25 segundos</option>
 <option value=20 <% if(question.tiempo && question.tiempo===20){%> selected <%} %>>20 segundos</option>
 <option value=15 <% if(question.tiempo && question.tiempo===15){%> selected <%} %>>15 segundo</option>
 <option value=10 <% if(question.tiempo && question.tiempo===10){%> selected <%} %>>10 segundo</option>
 <option value=5 <% if(question.tiempo && question.tiempo===5){%> selected <%} %>>5 segundos</option>
</select>