<!DOCTYPE html>
<html>
  <head>
<link rel="icon" type="image/png" href="../favicon.png" />
<title><%= title %></title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h2>e-rase: cuentacuentos y preguntas</h2>
    <%= respuesta %><p>
    <a href="tale">Intentalo de nuevo</a>
  </body>
</html>