<h3>Autoría</h3>
<div class="autorBackground">
<p>Esta web ha sido desarrollada por Lucas C/hobbes mientras realizaba el curso de programación en NodeJs de la Universidad Politécnica de Madrid.</p>
<!--<img src="/images/hobbes.jpg">-->
</div>