<h3><%= cuento.titulo %></h3>
<div class="cuento">
<p> <%= cuento.cuento %> </p>
</div>
<div clas="cuentoPreguntas">
<p><i class="fa fa-question fa-spin fa-fw"></i>&nbsp;<a href="/tales/">Preguntas</a></p>
</div>
<div class="cuentoComments">
<p class="text-right"><a href="/tales/cuento/<%=cuentoId%>/comments/new"><i class="fa fa-comment-o fa-fw">&nbsp;<i class="fa fa-plus fa-fw"></i></i></a></p>
<p></p>
<% for(index in cuento.comments){ %>
  <h3><i class="fa fa-comments fa-fw"></i></h3>
   <p> <%= cuento.comments[index].texto %></p>
   <% } %>
   
</div>


