<div class="text-center"></div>
<table>
	<% var i; for(i=0; i<questions.length; i++){ %>
     <tr><td><a href="<%= questions[i].id %>"><%= questions[i].pregunta %></a></td></tr>
     <% } %>

</table>