<form method="get" action="/tales/<%= question.id %>/answer">
<h3>Responde..</h3>
    <p><%= question.pregunta %></p>
    <div id="enviarRespuesta">
    <input type="text" name="respuesta" value="responda aquí"/>
    <input type="submit" value="Enviar">
    </div>
    </form>
<div class="counter">
<p id="aviso">¡¡Rápido antes de que se acabe el tiempo!!</p>

<p><i class="fa fa-clock-o fa-spin fa-fw"></i>&nbsp;<span id="cuenta"><i class="fa fa-spinner fa-pulse fa-fw"></i>&nbsp;</span><p>
<script type="text/javascript">

 var time= <%= question.tiempo %>;                
 
 function countdown(times){   
 //console.log(times, cuenta); 
checktime(times);
time=time-1;
 }
function checktime(times){
	if(times===0){
		var cuenta =document.getElementById('cuenta');
		var button =document.getElementById('enviarRespuesta');
		var aviso =document.getElementById('aviso');
		//alert("se acabó el tiempo");
		button.style.visibility="hidden";
		cuenta.innerHTML= "Acabó el tiempo";
		window.clearInterval(intervalo);
        aviso.innerHTML= "Debes ser más rápido..."+ "<a href=\"/tales/<%= question.id %>\" class=\"fa fa-undo fa-fw\">&nbsp;</a><a href=\"/tales/\"><i class=\"fa fa-arrow-left fa-fw\"></i>&nbsp;</a>";
		 }
		 else{
        var cuenta =document.getElementById('cuenta');
        cuenta.innerHTML= times+ " " + "segundos";
    }
}
 	
 intervalo=setInterval(function(){countdown(time)},1000);
 	
 	
 	

 


</script>
	
</div>  
