<form method="get" action="/tales/<%= question.id %>/answer">
    <p>Pregunta: <%= question.pregunta %></p>
    <input type="text" name="respuesta" value="responda aquí"/>
    <input type="submit" value="Enviar">
    </form>
  
