<form method="get" action="/tales/<%= question.id %>/answer">
    <p>Pregunta: <%= question.pregunta %></p>
    <input type="text" name="respuesta" value="responda aquí"/>
    <input type="submit" value="Enviar">
    </form>
<div class="counter">
<p>Responde rápido antes de que se acabe el tiempo</p>
	<%= question.tiempo %> segundos
</div>  
